export(modelFitting, plot3D, scatterPlotMatrix, allUniPlots, allBivarPlots, iNZightMaps, iNZightMultiRes)
import(iNZightRegression, iNZightMR, iNZightTS, iNZightTools, mgcv, survey, barcode, gpairs)
#importFrom(iNZightTools, fitModel, fitDesign)
export(barcode)
